<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <title>aratarikan.com | Anasayfa</title>

    {% load static %}

    <script type="text/javascript" src="{% static "index/AnimatedBorderMenuByCodrops/js/modernizr.custom.js" %}"></script>

    <link type="text/css" rel="stylesheet" href={% static "index/AnimatedBorderMenuByCodrops/css/normalize.css" %}>
    <link type="text/css" rel="stylesheet" href={% static "index/AnimatedBorderMenuByCodrops/css/icons.css" %}>
    <link type="text/css" rel="stylesheet" href={% static "index/AnimatedBorderMenuByCodrops/css/style3.css" %}>

</head>
<body>

    <div class="container">

        <header class="codrops-header">

        </header>

        <nav id="bt-menu" class="bt-menu">
            <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
            <ul>
                <li><a href="/cloud" class="bt-icon icon-windows">CLOUD</a></li>
                <li style="color: rgba(0,0,0,0.3);"><a href="#"></a>.</li>
                <li style="color: rgba(0,0,0,0.3);"><a href="#"></a>.</li>
                <li><a href="/timeline" class="bt-icon icon-speaker">TIMELINE</a></li>
            </ul>
        </nav>

    </div>

</body>

<script type="text/javascript" src="{% static "index/AnimatedBorderMenuByCodrops/js/classie.js" %}"></script>
<script type="text/javascript" src="{% static "index/AnimatedBorderMenuByCodrops/js/borderMenu.js" %}"></script>

</html>